:root.theme-light {
  --bg-color: #353430;
  --text-color: #353430;
  --accent-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: #000028;
  --card-background: transparent;
  --button-background: transparent;
  --button-text-color: #ff0070;
  --button-hover-color: rgb(255, 0, 112, 0.4);
  --decor-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #353430;
  --text-color: #353430;
  --accent-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: #000028;
  --card-background: transparent;
  --button-background: transparent;
  --button-text-color: #ff0070;
  --button-hover-color: rgb(255, 0, 112, 0.4);
  --decor-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
  }
} 