:root.theme-light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: #000028;
  --card-background: transparent;
  --button-background: transparent;
  --button-text-color: #353430;
  --button-hover-color: rgb(3, 52, 48, 0.4);
  --decor-color: #FF8DCB;
  --decor-zone-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #353430;
  --title-color: #FFC2E6;
  --subtitle-color: #000028;
  --card-background: transparent;
  --button-background: transparent;
  --button-text-color: #353430;
  --button-hover-color: rgb(3, 52, 48, 0.4);
  --decor-color: #FF8DCB;
  --decor-zone-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  }
}