/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --card-background: transparent;
  --button-background: transparent;
  --button-text-color: #ff0070;
  --button-hover-color: rgb(255, 0, 112, 0.4);
  --decor-color: #ff0070;
  --main-font: 'IBM Plex mono', 'Arial', monospace;
}

